* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.grey-1 {
  color: #5c5c5c;
}

.grey-2 {
  color: #848484;
}

.white-1 {
  color: white;
}

.black-1 {
  color: black;
}

.icon-gray-1 {
  filter: invert(53%) sepia(1%) saturate(1155%) hue-rotate(317deg) brightness(98%) contrast(85%);
}

.padding-1rem {
  padding: 1rem;
}

.padding-l-1rem {
  padding-left: 1rem;
}



.main-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}




.container {
  display: flex;
}




body {
  background-color: #141923;
}




menu {
  background-color: black;
  width: 18rem;
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
}

menu a {
  font-weight: 600;
}




menu .logo-main > img {
  max-width: 11rem;
}

menu .logo-mobile {
  display: none;
}

menu .logo-main img {
  width: 15rem;
}


menu .top-nav ul {
  margin-bottom: 2rem;
}

menu .top-nav ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

menu .top-nav a img {
  width: 2rem;
  height: 2rem;
  display: flex;
  font-size: 1.5rem;
}

menu .top-nav a:hover {
  border-left: 3px #a2ef2c solid;
  padding-left: calc(1rem - 2px);
  color: white;
}

menu .top-nav a:hover img {
  filter: none
}


.playlists h3 {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.playlists .crea-play {
  margin-bottom: 1.5rem;
}

.playlists .crea-play span {
  background-color: #848484;
  padding: 0.4rem 0.6rem;
  margin-right: 0.5rem;
}

.playlists .play-lista ul li {
  margin-bottom: 0.8rem;
}

.playlists a:hover {
  color: white;
}

.playlists a:hover span {
  background-color: white;
}




.down {
  margin-top: auto;
}


.down .app-download {
  margin-bottom: 0.8rem;
}

.down .app-download a {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.down .app-download img {
  width: 1.2rem;
  display: block;
}


.down hr {
  border: 1px solid #848484;
  margin-bottom: 0.8rem;
}


.down .user-profile {
  display: flex;
  align-items: center;
}

.down .user-profile .user-image {
  width: 2rem;
  background-color: #5c5c5c;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.down .app-download .grey-1:hover {
  color: white;
}

.down .app-download .grey-1:hover img {
  filter: none
}

.down .user-profile .user-name a:hover {
  text-decoration: underline;
}




main .ad {
  background-color: #080b12;
  width: calc(100vw - 18rem);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1.5rem 1rem;
}

main .ad a {
  border: 2px white solid;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-weight: 500;
}




footer {
  background-color: #282828;
  height: 6rem;
}




@media screen and (max-width: 480px) {

  menu .logo-main,
  .playlists,
  hr,
  .user-name {
    display: none;
  }
  
  
  
  
  body {
    background-color: rebeccapurple;
  }




  menu {
    width: 4rem;
  }

  menu .logo-main {
    display: none;
  }

  menu .logo-mobile {
    display: block;
    width: 2rem;
    margin-bottom: 1rem;
  }

  
  menu .top-nav a,
  .down .app-download a {
    font-size: 0;
  }




  main .ad {
    width: calc(100vw - 4rem);
  }

}